# dapp frontend

app/node_modules
app/src/counter/build
app/publish/.publish.res.json
app/dist

# move
build/

# rust cli
cli/target/
cli/ciphertext
cli/obfuscated_nft.png
cli/original_nft.png
# misc
.env
backend/prisma/dev.db
